.App {
  text-align: center;
  background-color: cornflowerblue;
  padding: 20px;
}

.main-h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aliceblue;
  font-size: 2.5rem;
}
i.fas {
  padding: 20px;
  color: gold;
}