.Ball {
    background-color: tomato;
    border-radius: 50%;
    color: white;
    display: inline-block;
    width: 3em;
    height: 2.25em;
    padding-top: 0.75em;
    text-align: center;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 10px 5px 5px cornflowerblue
}

.shaking {
    animation-name: wobble;
    animation-duration: .4s;
}

@keyframes wobble {
    from {
        transform: translate3d(0,0,0);
    }

    15%{
        transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);
    }
    30%{
        transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg);
    }
    45%{
        transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
    }
    60%{
        transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg);
    }
    75%{
        transform: translate3d(-5,0,0) rotate3d(0,0,1,-1deg);
    }
    to {
        transform: translate3d(0,0,0);
    }
}